<div class="container">
  <div class="row">
	<h2><b><%= @user.name %></b> さんのページ</h2>
	<div class="col-md-3">
      <span class="user__picture"><%= attachment_image_tag @user, :user_image, format: "jpeg", id: "img_prev", fallback: "no_image.jpg", style: "border-radius:50%;" %>
      </span>
	    <div>
    	  <% if @user == current_user %>
      		<%=link_to "プロフィール編集",edit_users_user_path(@user),method: :get, class: "btn btn-info col-md-11", :style=>" margin-top: 30px; margin-top: 30px; margin-left: 10px; margin-bottom:10px;" %>
      	  <% end %>
<!-- フォロー表示-->
          <% if current_user && current_user.id != @user.id %>
            <% if current_user.following?(@user) %>
              <%= link_to 'フォロー外す', unfollow_path(@user.id), method: :POST, class: "btn btn-info col-md-11", :style=>" margin-top: 30px; margin-top: 30px; margin-left: 10px; margin-bottom:10px;" %>
            <% else %>
            <%= link_to 'フォローする', follow_path(@user.id), method: :POST, class: "btn btn-info col-md-11", :style=>" margin-top: 30px; margin-top: 30px; margin-left: 10px; margin-bottom:10px;" %>
            <% end %>
          <% end %>
	    </div>
<!-- ここまで -->
    </div>
	<div class="col-md-6">
      <p class="show1">/ 性別 /</p>
        <p class="show2"><%= @user.gender_i18n %></p>
　　　 <p class="show1">/ 年代 /</p>
        <p class="show2"><%= @user.age_group_i18n %></p>
　　　 <p class="show1">/ 職業 /</p>
        <p class="show2"><%= @user.profession_i18n %></p>
　　　 <p class="show1">/ 登録日 /</p>
        <p class="show2"><%= l @user.created_at, format: :short %></p>
　　　 <p class="show1">/ 自己紹介 /</p>
        <div class="show2"><%= simple_format(@user.user_introduction) %></div>
	</div>
	<div class="col-md-3">
	  <% if current_user && current_user.id == @user.id %>
	  <h4 style="font-weight: bold;">アイデアを投稿する</h4>
		<div><%= link_to "食品投稿", new_users_food_path, class: "btn btn-info col-md-6" %>
		</div><br>
　　　　 <div><%= link_to "雑貨品投稿", new_users_nonfood_path, class: "btn btn-info col-md-6" %>
		</div>
	  <% else %>
	  <% end %>
	</div>
	  <div class="col-md-12">
		<% if user_signed_in? %>
		  <div class="under_menu" >
			<ul>
			  <div class="col-xs-3">
				<%=link_to user_follow_path(@user) do %>
					<i class="glyphicon glyphicon-hand-right" ><br><%= @user.follower.count %>フォロー</i>
				<% end %>
			  </div>
			  <div class="col-xs-3">
				<%=link_to user_followed_path(@user) do %>
					<i class="glyphicon glyphicon-hand-left" ><br><%= @user.followed.count %>フォロワー</i>
				<% end %>
			  </div>
			  <div class="col-xs-3">
				<%= link_to users_users_favolist_path do %>
					<i class="glyphicon glyphicon-heart-empty"><br>いいねした投稿リスト</i>
				<% end %>
			  </div>
			  <div class="col-xs-3">
				<%= link_to users_users_userallpost_path do %>
					<i class="glyphicon glyphicon-list-alt"><br><%= @user.name %>さんの投稿一覧</i>
				<% end %>
			  </div>
			</ul>
		  </div>
		<% end %>
	  </div>
  </div>
</div>
