<div class="container">
		  <h2><b>田中</b> さんのページ</h2>

	<div class="row">
  			<div class="col-md-3">
    			<h2>マイページ</h2>
            	<p><%= @user.name %></p>
	            <span><%= attachment_image_tag @user, :user_image, format: "jpeg", id: "img_prev", fallback: "no_image.jpg", style: "height: 200px; width:200px;"  %></span>
	            <div><% if @user == current_user %>
	              	<%=link_to "プロフィールの編集を行う",edit_users_user_path(@user),method: :get %><% end %>
	            </div>
	        </div>

	        	<div class="col-md-5">
		            <p>自己紹介</p>
		            <p><%= @user.user_introduction %></p>
		            <p>登録日</p>
		            <p><%= @user.created_at.strftime('%Y/%m/%d') %></p>
		            <p>職業</p>
					<p><%= @user.profession_i18n %></p>
					<p>性別</p>
					<p><%= @user.gender_i18n %></p>
					<p>年代</p>
					<p><%= @user.age_group_i18n %></p>
				</div>

					<div class="col-md-4">
						<h4>アイデアを投稿する</h4>
						<div><%= link_to "食品投稿", new_users_food_path %>
						</div>
　　　　　　　　　　　　　　<div><%= link_to "非食品投稿", new_users_nonfood_path %>
						</div>
					</div>
<!-- フォロー -->
            <% if current_user.id != @user.id %>
              <% if current_user.following?(@user) %>
                <%= link_to 'フォロー外す', unfollow_path(@user.id), method: :POST %>
              <% else %>
                <%= link_to 'フォローする', follow_path(@user.id), method: :POST %>
              <% end %>
            <% end %>
<!-- ここまで -->
	</div>
	<div class="col-md-12">
	<div class="under_menu">
		<ul>
			<div class="col-xs-3">
				<li><a href="/users/53/following">
						<i class="fa fa-group"></i><br>
						<span class="follow_count_53"> 0</span> フォロー
</a>				</li>
			</div>
			<div class="col-xs-3">
				<li><a href="/users/53/followers">
						<i class="fa fa-users"></i><br>
						<span class="follower_count_53"> 0</span> フォロワー
</a>				</li>
			</div>
			<div class="col-xs-3">
				<li><a href="/users/53/favorites">
						<i class="glyphicon glyphicon-star"></i><br>お気に入り
</a>				</li>
			</div>
			<div class="col-xs-3">
				<li><a href="/users/53/user_posts">
						<i class="glyphicon glyphicon-pencil"></i><br>投稿一覧
</a>				</li>
			</div>
		</ul>
	</div>
</div>
</div>







