<body>
  <div class="container">
    <div class="low">
      <h1 style="text-align: center;">雑貨品アイデア投稿</h1>
       <h2 style="padding-left: 30px;">雑貨品アイデアTOP３(いいね編)</h2>
          <!-- ランキングTOP３  -->
          <% @nonfoodall_ranks.each do |nonfoodall_rank| %>
              <div class="card" >
                <span class="card-img-top"><%= link_to users_nonfood_path(nonfoodall_rank) do %>
                            <%= attachment_image_tag nonfoodall_rank, :nonfood_image, size: '330x330',　format: 'jpeg', fallback: "no_image.jpg" %>
                          <% end %>
                </span>
                  <div class="card-body">
                      <h4 class="card-title"><%= link_to users_nonfood_path(nonfoodall_rank) do %><%= nonfoodall_rank.nonfood_name %>
                              <% end %></h4>
                      <p class="card-text"><%= link_to nonfoodall_rank.user.name, users_user_path(nonfoodall_rank.user) %></p>
                    <div class = "iine__button">♡️<%= nonfoodall_rank.nonfood_favorites.count %></div>
                    <div><%= nonfoodall_rank.created_at.strftime('%Y/%m/%d') %></div>
                  </div>
              </div>
          <% end %>
          <!-- ランキングここまで -->
          <br><br><br><br>
          <!-- 一覧投稿 -->
            <h2 style="padding-left: 30px;">みんなの雑貨品アイデア投稿</h2>
                <table class="table table-hover table-inverse">
                  <thead>
                    <tr>
                      <th>アイデア画像</th>
                      <th>アイデア名</th>
                      <th>投稿者名</th>
                      <th>投稿日時</th>
                      <th>いいね</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @nonfoods.each do |nonfood|%>
                      <tr>
                        <td class="nonfoodtd1"><%= link_to users_nonfood_path(nonfood) do %>
                              <%= attachment_image_tag nonfood, :nonfood_image, size: '150x150',　format: 'jpeg', fallback: "no_image.jpg" %>
                            <% end %></td>
                        <td class="nonfoodtd1"><%= link_to users_nonfood_path(nonfood) do %>
                              <%= nonfood.nonfood_name %>
                            <% end %></td>
                        <td class="nonfoodtd1">
                          <%= link_to nonfood.user.name, users_user_path(nonfood.user) %></td>
                        <td><%= nonfood.created_at.strftime('%Y/%m/%d') %></td>
                       <!-- いいねここから -->
                        <td class="nonfoodtd1">
                          <div class = "iine__button">♡️<%= nonfood.nonfood_favorites.count %></div>
                        </td>
                     </tr>
                  　<% end %>
                  </tbody>
                </table>
          <!-- 一覧ここまで -->
          <span style="display: block; text-align: center;"><%= paginate @nonfoods %></span>
    </div>
  </div>
</body>

