<div class="container">
  <div class="low">
    <h1>非食品アイデア</h1>
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th>アイデア画像/アイデア名</th>
          <th>投稿者名</th>
          <th>投稿日時</th>
          <th>いいね</th>
        </tr>
      </thead>
      <tbody>
        <% @nonfoods.each do |nonfood|%>
          <tr>
            <td><%= link_to users_nonfood_path(nonfood) do %>
                    <%= attachment_image_tag nonfood, :nonfood_image, size: '60x60',　format: 'jpeg', fallback: "no_image.jpg" %>
                  <% end %>
                 <%= link_to users_nonfood_path(nonfood) do %>
                    <%= nonfood.nonfood_name %>
                  <% end %>
              </td>
              <td>
                <%= link_to nonfood.user.name, users_user_path(nonfood.user) %></td>
              <td><%= nonfood.created_at.strftime('%Y/%m/%d') %></td>
             <!-- いいねここから -->
            <td>
                <div class = "iine__button">♡️<%= nonfood.nonfood_favorites.count %></div>
            </td>
      <!-- ここまで -->
         </tr>
      　<% end %>
      </tbody>
    </table>
    <span style="display: block; text-align: center;"><%= paginate @nonfoods %></span>
  </div>
</div>