<%= form_for(@nonfood, url: '/users/nonfoods') do |f| %>
	<div>
		<div>
			<%= f.label :nonfood_image, "非食品イメージ画像" %>
			<div class="image_field">
				<%= attachment_image_tag @nonfood, :nonfood_image, format: "jpeg", id: "img_prev", fallback: "no-image.png", style: "height: 200px; width:200px;"  %>
				<span>
					<%= f.attachment_field :nonfood_image %>画像選択</span>
			</div>
		</div>
		<table>
			<thead>
				<tr>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= f.label :nonfood_name, "アイデア名（非食品）" %></td>
					<td><%= f.text_field :nonfood_name %></td>
				</tr>
				<tr>
					<td><%= f.label :nonfood_introduction, "商品説明" %></td>
					<td><%= f.text_area :nonfood_introduction, rows: 3 %></td>
				</tr>
			</tbody>
		</table>
		<div>
			<%= f.submit %>
		</div>
	</div>
<% end %>