<p>アイデア投稿のページだよ</p>
  <div>
    <h2>NONfoods Idea</h2>
            <p><%= @nonfood.nonfood_name %></p>
            <span><%= attachment_image_tag @nonfood, :nonfood_image, size: '200x200',　format: 'jpeg' %></span>
            <p><%= @nonfood.nonfood_introduction %></p>
            <p><%= @nonfood.created_at.strftime('%Y/%m/%d') %></p>
            <p></p>
            <div>
              <% if @user == current_user %>
              	<%=link_to "編集",edit_users_nonfood_path(@nonfood),method: :get %>
              <% end %>
      		　<% if @user == current_user %>
              	<%= link_to "削除",users_nonfood_path(@nonfood), method: :delete, "data-confirm" => "本当に削除しますか？" %>
              <% end %>
              <%= link_to "非食品一覧へ", users_nonfoods_path %>

            </div>

  </div>

<div>
      <table>
      <thead>
        <tr>
          <th colspan="3"></th>
        </tr>
      </thead>
      <% @nonfood.nonfood_comments.each do |nonfood_comment| %>
      <tbody>
        <tr>
          <td><%= link_to users_user_path(nonfood_comment.user), class: 'hoge' do %>
          <%= attachment_image_tag @user, :user_image, size: '50x50',　format: 'jpeg', fallback: "no_image.jpg" %><br><%= nonfood_comment.user.name %><% end %></td>
          <td><p><%= nonfood_comment.nonfood_comment %></p></td>
          <td><% if nonfood_comment.user == current_user %>
            　 <%= link_to "削除", users_nonfood_nonfood_comment_path(nonfood_comment.nonfood, nonfood_comment), method: :delete, class: "btn btn-danger pull-right" %><% end %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
              <!-- コメント本文 -->
           <!-- <form> -->
        <%= form_for [:users,@nonfood, @nonfood_comment] do |f| %>

          <% if @nonfood_comment.errors.any? %>
          <h3><%= @nonfood_comment.errors.count %> errors prohibited this nonfood from being saved</h3>
              <ul>
                <% @nonfood_comment.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>

          <% end %>
            <%= f.text_area :nonfood_comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
          <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
        <% end %>
        <!-- </form> -->
</div>