<body>
  <div class="container">
    <h2>投稿詳細</h2>
      <div class="row">
        <div class="col-md-8">
          <span style="display: block; text-align: center;">
            <%= attachment_image_tag @nonfood, :nonfood_image, size: '250x250',　format: 'jpeg' %>
          </span>
  　　　　 <p class="showp1">/ アイデア名 /</p>
          <p class="showp2"><%= @nonfood.nonfood_name %></p>
          <p class="showp1">/ タグ /</p>
          <p class="showp2"><%= @nonfood.tag_list %></p>
          <p class="showp1">/ 投稿者 /</p>
          <p class="showp2"><%= @nonfood.user.name %></p>
  　　　　 <p class="showp1">/ アイデア説明 /</p>
          <p class="showp2"><%= @nonfood.nonfood_introduction %></p>
          <p class="showp1">/ 登録日 /</p>
          <p class="showp2"><%= @nonfood.created_at.strftime('%Y/%m/%d') %></p>
          <div>
          <!-- 編集ボタン表示 -->
            <% if @user == current_user %>
              <%= link_to "削除",users_nonfood_path(@nonfood), method: :delete, class: "btn btn-danger pull-right", "data-confirm" => "本当に削除しますか？" %>
              <%=link_to "編集",edit_users_nonfood_path(@nonfood),method: :get, class: "btn btn-success pull-right" %>
            <% end %>
          </div><br><br>
          <div style="text-align: right; border-bottom: solid 1px #ccc; margin-bottom: 2px;" >
            <%= link_to "一覧へ", users_nonfoods_path ,class: 'btn btn-info my-1 mb-5 px-5' %>
          </div>
          <!--ここまで -->
          <% if user_signed_in? %>
            <!-- いいね表示ここから -->
            <span class="nonfood_<%= @nonfood.id %>" style="display: block; text-align: left;">
              <%= render 'nonfood', nonfood: @nonfood %>
            </span>
            <!-- ここまで -->
            <%= @nonfood_comments.count %>件コメント
            <!-- コメント表記 -->
            <table id="comments_area" class="table table-hover table-inverse">
              <%= render partial: 'users/nonfood_comments/index', locals: { nonfood_comments: @nonfood_comments } %>
            </table>
            <!-- コメントここまで -->
            <!-- コメント入力フォーム -->
            <%= render partial: 'users/nonfood_comments/form', locals: { nonfood_comment: @nonfood_comment, nonfood: @nonfood } %>
            <!-- ここまで -->
          <% end %>
        </div>
      </div>
  </div>
</body>
