<%= form_with(model: [:users, @food_comment], url: users_food_food_comments_path(@food) ) do |f| %>
  <% if @food_comment.errors.any? %>
    <h3><%= @food_comment.errors.count %> errors prohibited this food from being saved</h3>
      <ul>
        <% @food_comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  <% end %>
  <%= f.text_area :food_comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
  <%= f.submit "送信する", class: 'btn btn-info my-1 mb-5 px-5 pull-right' %>
<% end %>