<body>
    <div class="container">
    　<h2 class="toph1" style="margin-bottom: 30px;">食品アイデア新規投稿</h2>
        <div class="row">
        	<div class="col-md-5">
    <!-- 新規投稿フォーム -->
				<%= form_for(@food, url: '/users/foods') do |f| %>

					<div><%= f.label :food_image, "食品イメージ画像" %>
						 <%= f.attachment_field :food_image %>
					</div>
                    <div><%= f.label :food_name, "アイデア名（食品）" %>
					     <%= f.text_field :food_name, :size=>"60" %>
					</div>
					<div>
						 <%= f.label :food, :タグ付け %>
						 <%= f.text_field :tag_list, value: @food.tag_list.join(','), :size=>"60" %>
					</div>
                    <div><%= f.label :food_introduction, "商品説明" %>
						 <%= f.text_area :food_introduction, :size=>"60x11" %>
					</div>
					<div>
						<%= f.submit('保存する',class: 'btn btn-info my-1 mb-5 px-5') %>
					</div>
				<% end %>
			</div>
		</div>
    </div>
</body>

