<body>
    <div class="container">
    　<h2 class="toph1" style="margin-bottom: 30px;">食品アイデア新規投稿</h2>
      <%= render 'layouts/error_messages', resource: @food %>

        <div class="row">
        	<div class="col-md-5">
    <!-- 新規投稿フォーム -->
				<%= form_for(@food, url: '/users/foods') do |f| %>
					<div><%= f.label :food_image, "食品イメージ画像" %>
						<%= attachment_image_tag @food, :food_image, format: "jpeg", id: "img_prev", fallback: "no_image.jpg", style: "height: 200px; width:200px;"  %><br>
						画像選択<%= f.attachment_field :food_image %>
					</div>
                    <div><%= f.label :food_name, "アイデア名（食品）" %>
					     <%= f.text_field :food_name, :size=>"60" %>
					</div>
					<div>
						 <%= f.label :food, :タグ付け %>
						 <%= f.text_field :tag_list, value: @food.tag_list.join(','), :size=>"60" %>
					</div>
                    <div><%= f.label :food_introduction, "商品説明(用途・形・お値段等)" %>
						 <%= f.text_area :food_introduction, :size=>"60x11" %>
					</div>
					<div>
						<%= f.submit('保存する',class: 'btn btn-info my-1 mb-5 px-5') %>
					</div>
				<% end %>
			</div>
		</div>
    </div>
</body>

<script>
$(document).on("turbolinks:load", function(){
  function readURL(input) {
    if(input.files && input.files[0]){
      var reader = new FileReader();
      reader.onload = function (e) {
        $('.food_image').attr('src', e.target.result);　//取得したurlにアップロード画像のurlを挿入
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
  // inputのidから情報の取得
  $("#food_food_image").change(function(){
    readURL(this);
  });
});
</script>

