<p>アイデア投稿のページだよ</p>
  <div>
    <h2>Foods Idea</h2>
            <p><%= @food.food_name %></p>
            <span><%= attachment_image_tag @food, :food_image, size: '200x200',　format: 'jpeg' %></span>
            <p><%= @food.food_introduction %></p>
            <p><%= @food.created_at.strftime('%Y/%m/%d') %></p>
            <p></p>
            <div>
              <% if @user == current_user %>
              	<%=link_to "編集",edit_users_food_path(@food),method: :get %>
              <% end %>
      		　<% if @user == current_user %>
              	<%= link_to "削除",users_food_path(@food), method: :delete, "data-confirm" => "本当に削除しますか？" %>
              <% end %>
              <%= link_to "食品一覧へ", users_foods_path %>
            </div>

  </div>



<div>
      <table>
      <thead>
        <tr>

          <th colspan="3"></th>
        </tr>
        　<!-- いいねここから -->
        <% if @food.food_favorited_by?(current_user) %>
        <td>
          <%= link_to users_food_food_favorites_path(@food), method: :delete do %>
            <%= @food.food_favorites.count %> いいね
          <% end %>
        </td>
        <% else %>
        <td>
          <%= link_to users_food_food_favorites_path(@food), method: :post do %>
            <%= @food.food_favorites.count %> いいね
          <% end %>
          <!-- ここまで -->
        </td>
        <% end %>
      </thead>
      <% @food.food_comments.each do |food_comment| %>
      <tbody>
        <tr>
          <td><%= link_to users_user_path(food_comment.user), class: 'hoge' do %>
          <%= attachment_image_tag @user, :user_image, size: '50x50',　format: 'jpeg', fallback: "no_image.jpg" %><br><%= food_comment.user.name %><% end %></td>
          <td><p><%= food_comment.food_comment %></p></td>
          <td><% if food_comment.user == current_user %>
            　 <%= link_to "削除", users_food_food_comment_path(food_comment.food, food_comment), method: :delete, class: "btn btn-danger pull-right" %><% end %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
              <!-- コメント本文 -->
           <!-- <form> -->
        <%= form_for [:users,@food, @food_comment] do |f| %>

          <% if @food_comment.errors.any? %>
          <h3><%= @food_comment.errors.count %> errors prohibited this food from being saved</h3>
              <ul>
                <% @food_comment.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>

          <% end %>
            <%= f.text_area :food_comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
          <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
        <% end %>
        <!-- </form> -->
</div>
