<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class ="navbar navbar-invase">
      <div class="container-fluid">
          <nav>
             <h1><%= link_to 'TunaguKoe', root_path, class: "header-logo" %></h1>
          </nav>
            <ul>
              <% if user_signed_in? %>
                <li>ユーザー</li>
                <li class="nav-item"><%= link_to "マイページ", users_user_path(@user.id), class: "nav-bar-link" %></li>
                <li class="nav-item"><%= link_to "食品投稿", users_foods_path, class: "nav-bar-link" %></li>
                <li class="nav-item"><%= link_to "非食品投稿", users_nonfoods_path, class: "nav-bar-link" %></li>
                <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-bar-link"  %></li>
              <% elsif admin_signed_in? %>
                <li>管理者</li>
                <li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-bar-link"  %></li>
              <% else %>
                <li>ゲストユーザー</li>
                <li class="nav-item"><%= link_to "このサイトについて", root_path, class: "nav-bar-link" %></li>
                <li class="nav-item"><%= link_to "食品投稿", users_foods_path, class: "nav-bar-link" %></li>
                <li class="nav-item"><%= link_to "非食品投稿", users_nonfoods_path, class: "nav-bar-link" %></li>
                <li class="nav-item"><%= link_to "新規登録", new_user_registration_path, class: "nav-bar-link" %></li>
                <li class="nav-item"><%= link_to "ログイン", new_user_session_path, class: "nav-bar-link" %></li>
              <% end %>
            </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>


