<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- コード追加　Font Awesome読み込みコード-->
　　 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

  </head>

  <body>
  <div class="wrapper">
    <div class="container">
      <header class="navbar navbar-fixed-top navbar-inverse" style=" background-color: #FFA500">
          <nav class="nav navbar-nav navbar-left">
               <h2><%= link_to 'TunaguKoe', root_path, class: "header-logo", style: "color:white; padding-left:100px; font-size: 50px;" %></h2>
          </nav>
            <nav>
              <ul class="nav navbar-nav navbar-light navbar-right">
                <% if user_signed_in? %>
                    <li class="nav-item1">
                    <%= form_tag(search_path, method: :get) do %>
                      <%= text_field_tag 'search[content]' %>
                      <%= select_tag 'search[model]', options_for_select({ "顧客" => "user", "食品記事" => "food", "雑貨品記事" => "nonfood" }) %>
                      <%= submit_tag '検索', class: "btn btn-primary" %>
                    <% end %>
                    <li class="nav-item"><%= link_to "マイページ", users_user_path(current_user), class: "glyphicon glyphicon-home home", style: "color:white;" %></li>
                    <li class="nav-item"><%= link_to "食品投稿", users_foods_path, class: "glyphicon glyphicon-book books", style: "color:white;"  %></li>
                    <li class="nav-item"><%= link_to "非食品投稿", users_nonfoods_path, class: "glyphicon glyphicon-book books", style: "color:white;"  %></li>
                    <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out logout", style: "color:white;"  %></li>
                <% elsif admin_signed_in? %>
                    <li>管理者</li>
                    <li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "glyphicon glyphicon-log-out logout", style: "color:white;"  %></li>
                <% else %>
                    <li>ゲストユーザー</li>
                    <li class="nav-item"><%= link_to "このサイトについて", root_path, class: "glyphicon glyphicon-link about", style: "color:white;"  %></li>
                    <li class="nav-item"><%= link_to "食品投稿", users_foods_path, class: "glyphicon glyphicon-book books", style: "color:white;"  %></li>
                    <li class="nav-item"><%= link_to "非食品投稿", users_nonfoods_path, class: "glyphicon glyphicon-book books", style: "color:white;"  %></li>
                    <li class="nav-item"><%= link_to "新規登録", new_user_registration_path, class: "glyphicon glyphicon-edit sign_up", style: "color:white;"  %></li>
                    <li class="nav-item"><%= link_to "ログイン", new_user_session_path, class: "glyphicon glyphicon-log-in sign_in", style: "color:white;"  %></li>
                <% end %>
              </ul>
            </nav>
      </header>
    </div>
  </div>
  <br><br><br><br>
      　　<%= yield %>
  <br>
              <footer class="footer" style="height:60px;">
                    <p style="font-size: 24px; line-height: 30px;">© 2020 Tunagukoe</p>
              </footer>
  </body>
</html>


